{% extends "base.html" %}

{% block content %}
<h1>Add new word</h1>
<form method="post" novalidate id="new_category_form" action="{{ url_for('add_category') }}">
        {{ form.hidden_tag() }}
        {{ form.category.label }}</br>
        {{ form.category(size=32) }}
        {{ form.submit }} <p id="response"></p>
</form>
<ul id="categories_list">

</ul>
    <script>
         $(document).ready(function() {
            $("#new_category_form").submit(function(e) {
                e.preventDefault();

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function(data)
                    {
                        $("#response").html("Added!");
                    }
                });
            });
        });
    </script>


{% endblock %}}