{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<h1>Create new game</h1>
<button id="get_code">Generate code!</button>
<h1>Join existing game</h1>
<form method="post" novalidate id="join_game" action="{{ url_for('join_game') }}">
        {{ wtf.quick_form(form) }}
</form>
{% endblock %}}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function() {
            $("#get_code").click(function() {
                document.cookie = "host=1";
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('gen_session_code') }}",
                    success: function(data)
                    {
                        var game_code = data["game_code"];
                        $("#session_code").val(game_code);
                        $("#session_code").css("background-color", "rgba(28, 217, 85, 0.2)");

                    }
                })
            });
        });
</script>
{% endblock %}}