{% extends "base.html" %}

{% block app_content %}
<audio id="beep" src="{{ url_for('.static', filename='beep-05.wav') }}" preload="auto"></audio>
<p class="alert alert-info"><strong>Game code: </strong>{{ session_code }}</br><strong class="float-right">Invite link: </strong><a>{{ share_link }}</a></p>
<div id="host">
    {% if host %}
    <button id="get_categories">Get Scattergories!</button>
    {% else %}
    <p id="waiting">Waiting for host...</p>
    {% endif %}
</div>
<h1 id="round"></h1>
<div>Time left: <span id="time">02:00</span></div>
<h2 id="letter" style="color:blue"></h2>

<ul id="categories_list">

</ul>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script>
         $(document).ready(function() {
            $("#get_categories").click(function() {
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('gen_categories') }}",
                    success: function(data)
                    {
                       console.log(data);

                    }
                })
            });
            getCategories();
        });

        var round = 0;
        var timer;
            function getCategories() {
                var categories = "";
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('get_categories') }}",
                    success: function(data) {
                        categories = data["categories"];
                        current_round = data["round"];
                        letter = data["letter"];
                        if (current_round > round) {
                            $("#waiting").hide();
                            round = current_round;
                            newRound(round, categories, letter)
                            var display = $("#time");
                            clearInterval(timer);
                            timer = startTimer(display, 60 * 2);
                        }
                    }
                });
               t = setTimeout(getCategories, 600);
            }

        function startTimer(display, duration) {
              var timer = duration, minutes, seconds;
              var intervalId = setInterval(function() {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.text(minutes + ":" + seconds);

                if (--timer < 0) {
                clearInterval(intervalId);
                        endRound();
                    display.text("02:00");
                  timer = duration;
                }
              }, 1000);
              return intervalId;
            }

        function newRound(round, categories, letter){
                $("#round").text("Round " + round);
                $("#letter").text(letter);
                $("#categories_list").empty();
                $.each(categories, function(index, category){
                    index = index + 1;
                    $("#categories_list").append("<li>" + index +  ": " +  category + "</li>");
                })
            };

         function endRound() {
            //document.getElementById("beep").play();
            alert("Time Up!");
        }
    </script>


{% endblock %}